@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pp-black: #000000;
  --pp-blue: #4DD0E1;
  --pp-gray: #9B9B9B;
  --pp-gray-dark: #4A4A4A;
  --pp-gray-light: #DADADA;
  --pp-green: #35E4BD;
  --pp-red-light: #FF174426;
  --pp-orange: #F1B147;
  --pp-purple: #A769B2;
  --pp-yellow-light: #FFFBE6;
  --pp-white: #ffffff;
}

