@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pp-black: #000000;
  --pp-blue: #4DD0E1;
  --pp-gray: #9B9B9B;
  --pp-gray-dark: #4A4A4A;
  --pp-gray-light: #DADADA;
  --pp-green: #35E4BD;
  --pp-red-light: #FF174426;
  --pp-orange: #F1B147;
  --pp-purple: #A769B2;
  --pp-yellow-light: #FFFBE6;
  --pp-white: #ffffff;
}

main {
  max-width: 960px;
  margin: 0 auto;
}

* {
  font-size: 16px;
}

/* START Backgrounds */
.pp-bg-blue {
  background-color: var(--pp-blue);
}

.pp-bg-gray-light {
  background-color: var(--pp-gray-light);
}

.pp-bg-green {
  background-color: var(--pp-green);
}

.pp-bg-red-light {
  background-color: var(--pp-red-light);
}

.pp-bg-orange {
  background-color: var(--pp-orange);
}

.pp-bg-purple {
  background-color: var(--pp-purple);
}

.pp-bg-yellow-light {
  background-color: var(--pp-yellow-light);
}

.pp-bg-white {
  background-color: var(--pp-white);
}

/* END Backgrounds */

/* START Menu */
.pp-menu {
  width: 100%;
}

.pp-menu a {
  width: 50%;
  text-align: center;
}

.pp-menu a.active {
  border-bottom: 3px solid var(--pp-blue);
  color: var(--pp-blue);
}
/* END Menu */

/* START Entrance Form */
.pp-entrance-form{
  width: 60%;
}

.pp-entrance-form label{
  color: var(--pp-gray);
  font-weight: 400;
  margin-bottom: 8px;
}

.pp-entrance-form input{
  background-color: var(--pp-yellow-light);
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  color: var(--pp-gray);
  text-align: center;
  font-size: 28px;
}

.pp-entrance-form input:focus{
  background-color: var(--pp-yellow-light);
  color: #0A261D;
  outline: 1px solid #CCCCCC;
}

.pp-entrance-form button{
  width: 100%;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: var(--pp-green);
  color: var(--pp-white);
}

.pp-entrance-form button:disabled{
  background-color: var(--pp-gray-light);
  color: var(--pp-gray-dark);
}

@media(max-width: 760px){
  .pp-entrance-form{
    width: 100%;
    padding: 0 15px;
  }
  
}
/* END Entrance Form */

/* START Leave Form */
.pp-leave-form{
  width: 60%;
}

.pp-leave-form label{
  color: var(--pp-gray);
  font-weight: 400;
  margin-bottom: 8px;
}

.pp-leave-form input{
  background-color: var(--pp-yellow-light);
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  color: var(--pp-gray);
  text-align: center;
  font-size: 28px;
}

.pp-leave-form input:focus{
  background-color: var(--pp-yellow-light);
  color: #0A261D;
  outline: 1px solid #CCCCCC;
}

.pp-leave-form button.pay-btn{
  width: 100%;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: var(--pp-purple);
  color: var(--pp-white);
}

.pp-leave-form button.pay-btn:disabled{
  background-color: var(--pp-gray-light);
  color: var(--pp-gray-dark);
}

.pp-leave-form button.leave-btn{
  width: 100%;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: var(--pp-white);
  border: 3px solid var(--pp-purple);
  color: var(--pp-purple);
}

.pp-leave-form button.leave-btn:disabled{
  background-color: var(--pp-white);
  border: 3px solid var(--pp-gray-dark);
  color: var(--pp-gray-dark);
}

.pp-leave-form .pp-confirm{
  text-align: center;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.pp-leave-form .pp-confirm p{
  font-size: 16px;
  width: 30%;
  margin: auto;
}

.pp-leave-form .pp-confirm h3{
  font-size: 38px;
  text-transform: uppercase;
  color: var(--pp-blue);
  margin-bottom: 20px;
}

.pp-leave-form .pp-leave-car{
  text-align: center;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.pp-leave-form .pp-leave-car p{
  font-size: 16px;
  width: 30%;
  margin: auto;
}

.pp-leave-form .pp-leave-car h3{
  font-size: 38px;
  text-transform: uppercase;
  color: var(--pp-blue);
  margin-bottom: 20px;
}

@media(max-width: 760px){
  .pp-leave-form{
    width: 100%;
    padding: 0 15px;
  }
  
}
/* END Leave Form */

.purple-btn{
  background-color: var(--pp-purple);
  color: var(--pp-white);
  padding: 20px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 4px;
}

.purple-btn:hover{
  background-color: #93569e;
}

.blue-text-btn{
  color: var(--pp-blue);
  padding: 20px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 4px;
}

.blue-text-btn:hover{
  color: #3db1c0;
}

/* START History */
.pp-view-history{
  text-align: center;
}

.pp-history-title{
  margin-bottom: 40px;
}

.pp-history-title h2{
  color: var(--pp-blue);
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  padding-left: 20px;
}

.pp-history-details{
  row-gap: 20px;
}

.pp-history-details .card .max-w-md.mx-4.bg-white.rounded-lg.shadow-lg.overflow-hidden{
  width: 100%;
  border: 1px solid var(--pp-gray-light);
}

.pp-history-details .content p{
  font-size: 16px;
  text-transform: uppercase;
  color: var(--pp-gray);
}

.pp-history-details .content h3{
  font-size: 24px;
  color: var(--pp-black);
}
/* END History */