@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pp-black: #000000;
  --pp-blue: #4DD0E1;
  --pp-gray: #9B9B9B;
  --pp-gray-dark: #4A4A4A;
  --pp-gray-light: #DADADA;
  --pp-green: #35E4BD;
  --pp-red-light: #FF174426;
  --pp-orange: #F1B147;
  --pp-purple: #A769B2;
  --pp-yellow-light: #FFFBE6;
  --pp-white: #ffffff;
}


/* START Backgrounds */
.pp-bg-blue{
  background-color: var(--pp-blue);
}
 
.pp-bg-gray-light{
  background-color: var(--pp-gray-light);
}
 
.pp-bg-green{
  background-color: var(--pp-green);
}
 
.pp-bg-red-light{
  background-color: var(--pp-red-light);
}
 
.pp-bg-orange{
  background-color: var(--pp-orange);
}
 
.pp-bg-purple{
  background-color: var(--pp-purple);
}
 
.pp-bg-yellow-light{
  background-color: var(--pp-yellow-light);
}
 
.pp-bg-white{
  background-color: var(--pp-white);
}
/* END Backgrounds */

